   
    @import './header.css';
    @import './aside.css';
    @import './footer.css';
    @import './fishes.css';
    @import './locations.css';
    @import './quotes.css';

    .main-aside{
        
        display: flex;
        justify-content: space-between;
     }
    .main{
        
        flex: 3;
        background-color: #3585c7e1 ;
    }
    


    
    

